.home-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative; /* Add this to position textA absolutely */
}

.image {
    width: 80%;
}

.image-caption {
    text-align: center;
    width: 80%;
    font-family: 'Inter', sans-serif;
    color: #727272;
}

@media screen and (max-width: 512px) {
    .image-caption {
        font-size: 10px;
    }

    .image {
        width: 100%;
    }
}

.home-text-container p {
    font-size: 1.35rem;
    line-height: 1.5;
}

h1 {
    font-size: 1.8rem;
}

a {
    color: black;
}

/* .home-text-container p {
    font-size: clamp(12px, 1.4vw, 32px);
} */